.game{
    display: flex;
    align-items: center;
    height: 100vh;
    .game__inner{
        display: grid;
        gap: 20px;
        label {
            -webkit-perspective: 1000px;
            perspective: 1000px;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            display: block;
            position: relative;
            cursor: pointer;
            input {
                display: none;
            }
            .card {
                position: relative;
                height: 100%;
                width: 100%;
                -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
                -webkit-transition: all 600ms;
                transition: all 600ms;
                z-index: 20;
                user-select: none;
            
                .front,.back{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    width: fit-content;
                    background: #FFF;
                    backface-visibility: hidden;
                    border-radius: 2px;
                    img{
                        width: 100%;
                        height: 100%;         
                    }
                }
                .back {
                    width: 100%;
                    cursor: default;
                    background: #FFF;
                    -webkit-transform: rotateX(180deg);
                    transform: rotateX(180deg);
                }
            }
        }
    }
}
.card .back {
    background: #FFF;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

label:hover .card {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    box-shadow: 0 20px 20px rgba(50,50,50,.2);
}



:checked + .card {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

label:hover :checked + .card {
    transform: rotateX(160deg);
    -webkit-transform: rotateX(160deg);
    box-shadow: 0 20px 20px rgba(255,255,255,.2);
}

.blocked-cards{
    opacity: 0;     
    animation: remove 1s ease-in-out;
    transform: scale(0);
}
.first{
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(4, 100px);
}
.second{
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
}

.third{
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(4, 100px);
}
@keyframes remove{
    from{
        opacity: 1;
        transform: scale(1);
    }
    to{
        transform: scale(0);
        opacity: 0;
    }
}